@import url("https://v1.fontapi.ir/css/Vazir");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Vazir, sans-serif;
}
.icon {
  font-size: 1rem;
}
a {
  text-decoration: none;
  color: white;
}

.cards {
  width: 100%;
}

.con {
  width: 100%;
  background-color: #045d6bc9;
}

.cover {
  height: 50vh;
  width: 50%;
  background-image: url("./assets/bg2.jpg");
  background-repeat: none;
  background-size: cover;
  margin: auto;
  color: #045e6b;
  padding: 20vh;
}

.cover p {
  font-size: 2rem;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card {
  width: 25%;
  height: 55vh;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 1px 1px 20px -1px rgba(18, 17, 17, 0.216);
  color: #59a931;
  margin: 5vh;
}

.btn {
  border-radius: 10px;
  width: 25vh;
  height: 6vh;
  padding: 2px;
  margin: 10px;
  background-color: #59a931;
  color: #fff;
  border: none;
  font-size: 1.1rem;
}

.btn:hover {
  cursor: pointer;
  background-color: #67b142;
}

.image {
  width: 90%;
  height: 35vh;
  border-radius: 10px;
}

.footer {
  padding: 1rem;
  color: white;
  background-color: #409e11ce;
}

.footer-item {
  margin: 10px;
  width: 50%;
  text-align: center;
}

.footer-img {
  border: 1px solid rgba(234, 231, 231, 0.685);
  border-radius: 10px;
  width: 15vh;
  height: 15vh;
  margin: 1vh;
}

.call p {
  margin: 1rem;
}